/* Default styles */

.brand-buttons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 buttons per row */
  gap: 6px;

}

.btn {
  padding: 10px;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
.btn:hover {
  transform: translateY(-3px);
}

a {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/* Tablet styles */
@media (max-width: 768px) {
  .brand-buttons-container {
    grid-template-columns: repeat(3, 1fr); /* 3 buttons per row */
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .brand-buttons-container {
    grid-template-columns: repeat(2, 1fr); /* 2 buttons per row */
  }
}


/* 1. Apple */
.btn-apple {
  background-color: #000000;
  color: white;
}

/* 2. Google */
.btn-google {
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
}
.btn-google:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

/* 3. Amazon */
.btn-amazon {
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  font-size: 13px;
  line-height: 0px;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 700;
  text-shadow: 0 1px 0 #ffe093;
  padding: 0 10px 0 11px;
  text-align: center;
  white-space: nowrap;
}
.btn-amazon:hover {
  background: -webkit-linear-gradient(top, #f3d48d, #f0bb37);
}

/* 4. Microsoft */
.btn-microsoft {
  border-radius: 6px;
  text-align: center;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 27px;
  line-height: opx;
  box-shadow: none;
  background-color: #0067b8;
  color: #ffffff;
  white-space: normal;
  text-transform: uppercase;
  position: relative;
  border: 2px solid transparent;
  outline: 0;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-microsoft:hover,
.btn-microsoft:focus {
  outline: none;
  border: 2px solid transparent;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* 5. Samsung */
.btn-samsung {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  font-size: 14px;
  line-height: 0px;
  font-family: "SamsungOne", arial, sans-serif;
  border: none;
  transition-property: color, background-color, border-color,
    border-bottom-color;
  transition-timing-function: cubic-bezier(0.33, 0, 0.3, 1);
  font-weight: bold;
  white-space: nowrap;
}
.btn-samsung:hover {
  color: #eee;
  background-color: #555;
}
.btn-samsung:focus {
  box-shadow: 0 0 0 2px #fff;
  outline: 2px dotted black;
}

/* 6. Toyota */
.btn-toyota {
  background-color: #000000;
  color: white;
}

/* 7. Facebook */
.btn-facebook {
  background-color: #1877f2;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 6px;
  color: #fff;
  width: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
  line-height: 1.3333;
  white-space: nowrap;
  font-weight: 600;
  -webkit-text-size-adjust: none;
  font-size: 0.9375rem;
  box-sizing: border-box;
  word-wrap: break-word;
  align-items: center;
}

/* 8. Tesla */
.btn-tesla {
  background-color: #3e6ae1;
  border-color: transparent;
  border-radius: 32px;
  align-items: center;
  color: #fff;
  font-family: "Gotham SSm", BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  justify-content: center;
  line-height: 1.2;
  padding: 4px 24px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid transparent;
  background-color: #3e6ae1;
  transition: border-color 0.33s ease, background-color 0.33s ease,
    color 0.33s ease;
}
.btn-tesla:hover {
  background-color: #3457b1;
}

/* 9. McDonald's */
.btn-mcdonalds {
  background-color: #ffbc0d;
  border-radius: 4px;
  border: none;
  color: #292929;
  text-decoration: none;
  font-family: Speedee, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  letter-spacing: -0.15px;
  font-size: 16px;
}

/* 10. Coca-Cola */
.btn-coca-cola {
  background-color: #FE001A;
  color: white;
}

/* 11. Intel */
.btn-intel {
  background-color: #0071C5;
  color: white;
}

/* 12. IBM */
.btn-ibm {
  background-color: #006699;
  color: white;
}

/* 13. Disney */
.btn-disney {
  background-color: #F9DD16;
  color: black;
}

/* 14. Nike */
.btn-nike {
  padding: 4.5px 18.5px;
  border-radius: 30px;
  border: 1.5px solid transparent;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: #111;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-nike:hover {
  background: #757575;
}

/* 15. Pepsi */
.btn-pepsi {
  background-color: #004883;
  color: white;
}

/* 16. Starbucks */
.btn-starbucks {
  background-color: #00704A;
  color: white;
}

/* 17. Adidas */
.btn-adidas {
  background-color: #000000;
  color: white;
}

/* 18. Netflix */
.btn-netflix {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  font-weight: 500;
  padding: 7px 17px;
  padding-top: 0;
  padding-bottom: 0;
  border-color: #e50914;
  border-style: solid;
  text-transform: uppercase;
  position: relative;
  background: #e50914;
  border-width: 0;
  color: #ffffff;
  line-height: 1.32;
  text-align: left;
  padding-top: 0.63rem;
  padding-bottom: 0.63rem;
  font-family: NetflixSans, Gotham, "“Helvetica Neue”", Helvetica, Arial,
    sans-serif;
  line-height: 1;
}
.btn-netflix:hover {
  background: #f40612;
}

/* 19. Walmart */
.btn-walmart {
  background-color: #007DC6;
  color: white;
}

/* 20. Canon */
.btn-canon {
  background-color: #BC0024;
  color: white;
}
/* 21. Sony */
.btn-sony {
  background-color: #000000;
  color: white;
}

/* 22. Mercedes-Benz */
.btn-mercedes-benz {
  background-color: #202020;
  color: white;
}

/* 23. BMW */
.btn-bmw {
  background-color: #003A6E;
  color: white;
}

/* 24. Nestle */
.btn-nestle {
  background-color: #004B25;
  color: white;
}

/* 25. Sothebys */
.btn-sothebys {
  text-transform: uppercase;
  font-family: BentonSans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 4px;
  background: #00253e;
  color: #00253e;
  background: transparent;
  border: 1.5px solid #00253e;
  transition: color 0.25s ease;
}
.btn-sothebys:hover {
  background: #23448d;
  border-color: #23448d;
  background: transparent;
  color: #23448d;
  border: 1.5px solid #23448d;
}

/* 26. Ford */
.btn-ford {
  background-color: #003399;
  color: white;
}

/* 27. Levi's */
.btn-levis {
  background-color: #E32D40;
  color: white;
}

/* 28. KFC */
.btn-kfc {
  background-color: #B00A2C;
  color: white;
}

/* 29. Prada */
.btn-prada {
  background-color: #B3A569;
  color: white;
}

/* 30. Zara */
.btn-zara {
  background-color: #000000;
  color: white;
}

/* 31. Heineken */
.btn-heineken {
  background-color: #00A100;
  color: white;
}

/* 32. Visa */
.btn-visa {
  background-color: #1A1F71;
  color: white;
}

/* 33. MasterCard */
.btn-mastercard {
  background-color: #EB001B;
  color: white;
}

/* 34. Oracle */
.btn-oracle {
  background-color: #F80000;
  color: white;
}

/* 35. PayPal */
.btn-paypal {
  background-color: #003087;
  color: white;
}

/* 36. Lenovo */
.btn-lenovo {
  background-color: #E2231A;
  color: white;
}

/* 37. LG */
.btn-lg {
  background-color: #C8102E;
  color: white;
}

/* 38. FedEx */
.btn-fedex {
  background-color: #660099;
  color: white;
}

/* 39. UPS */
.btn-ups {
  background-color: #351C15;
  color: white;
}

/* 40. eBay */
.btn-ebay {
  background-color: #E53238;
  color: white;
}
/* 41. Shell */
.btn-shell {
  background-color: #FF0921;
  color: white;
}

/* 42. nvidia */
.btn-nvidia {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0;
  background-color: #76b900;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-decoration: none;
  border: 1px solid #76b900;
  box-sizing: border-box;
  font-family: DINPro, Helvetica, Arial, Sans-Serif;
}
.btn-nvidia:hover {
  background-color: #6aa700;
}

/* 43. Chevron */
.btn-chevron {
  background-color: #FF6C36;
  color: white;
}

/* 44. ExxonMobil */
.btn-exxonmobil {
  background-color: #ED1C24;
  color: white;
}

/* 45. Volkswagen */
.btn-volkswagen {
  background-color: #004094;
  color: white;
}

/* 46. Audi */
.btn-audi {
  background-color: #000000;
  color: white;
}

/* 47. Porsche */
.btn-porsche {
  background-color: #B12B28;
  color: white;
}

/* 48. Philips */
.btn-philips {
  background-color: #0E3574;
  color: white;
}

/* 49. Twitter */
.btn-twitter {
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  padding-left: 16px;
  padding-right: 16px;
  border-style: solid;
  border-radius: 9999px;
  border-width: 1px;
  border-color: rgb(207, 217, 222);
  color: rgb(29, 155, 240);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  padding: 10px 18px;
  margin-bottom: 8px;
  border-style: solid;
}
.btn-twitter:hover {
  background-color: rgba(29, 155, 240, 0.1);
}

/* 50. Instagram */
.btn-instagram {
  background-color: #C13584;
  color: white;
}

/* 51. LinkedIn */
.btn-linkedin {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 167ms;
  align-items: center;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  justify-content: center;
  min-width: 6.4rem;
  max-width: 480px;
  overflow: hidden;
  text-align: center;
  transition-property: background-color, box-shadow, color;
  vertical-align: middle;
  border-radius: 1.6rem !important;
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
  background-color: hsla(0, 0%, 100%, 0);
  color: #0a66c2;
  box-shadow: inset 0 0 0 1px #0a66c2;
  font-size: 16px;
  min-height: 1.2rem;
  padding: 6px 16px;
  line-height: 1.8rem;
  text-decoration: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}
.btn-linkedin:hover {
  background-color: rgba(112, 181, 249, 0.2);
  color: #0a66c2;
  box-shadow: inset 0 0 0 2px #0a66c2;
}

/* 52. TikTok */
.btn-tiktok {
  background-color: #000000;
  color: white;
}

/* 53. Spotify */
.btn-spotify {
  background-color: #1ed760;
  color: #000000;
  border-radius: 500px;
  padding: 14px 32px;
  font-size: 14px;

  text-transform: none;
  letter-spacing: normal;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0px;
  border-radius: 500px;
  align-self: center;
}
.btn-spotify:hover {
  transform: scale(1.04);
  transition-duration: 33ms;
  background-color: #1fdf64;
}

/* 54. Zoom */
.btn-zoom {
  background-color: #2D8CFF;
  color: white;
}

/* 55. Discord */
.btn-discord {
  border-radius: 28px;
  font-size: 20px;
  background-color: #5865f2;
  border-color: #5865f2;
  border: none;
  color: #fff;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.15;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.btn--discord:hover {
  background-color: hsl(235, 86.1%, 71.8%);
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

/* 56. Subway */
.btn-subway {
  background-color: #00543D;
  color: white;
}

/* 57. Dominos */
.btn-dominos {
  background-color: #0B648F;
  color: white;
}

/* 58. Stack Overflow */
.btn-stack-overflow {
  font-family: "Source Sans Pro Bold", sans-serif;
  font-weight: 700;
  background-color: hsl(27, 90%, 50%);
  border: 1px solid transparent;
  font-size: 13px;
  line-height: 13px;
  padding: 12px 32px;
  color: #fff;
  border-radius: 5px;
}
.btn-stack-overflow:hover {
  background-color: hsl(27, 90%, 45%);
}


/* 59. Red Bull */
.btn-red-bull {
  background-color: #000000;
  color: white;
}

/* 60. Gucci */
.btn-gucci {
  background-color: #000000;
  color: white;
}
/* 61. Louis Vuitton */
.btn-louis-vuitton {
  background-color: #4A4743;
  color: white;
}

/* 62. Rolex */
.btn-rolex {
  background-color: #006241;
  color: white;
}

/* 63. Omega */
.btn-omega {
  background-color: #3A3A3B;
  color: white;
}

/* 64. Cartier */
.btn-cartier {
  background-color: #B01226;
  color: white;
}

/* 65. Calvin Klein */
.btn-calvin-klein {
  background-color: #000000;
  color: white;
}

/* 66. Dolce & Gabbana */
.btn-dolce-e-gabbana {
  background-color: #000000;
  color: white;
}

/* 67. burguer-king */
.btn-burguer-king {
  background: transparent;
  border-width: 1px;
  border-color: rgb(214, 35, 0);
  border-style: solid;
  color: rgb(214, 35, 0);
  border-radius: 999px;
  transition: background 300ms ease 0s, color 300ms ease 0s, width 300ms ease 0s,
    height 300ms ease 0s;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-family: "Flame", "Cooper Black", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  height: 38.5px;
  padding: 0px;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: none;
  font-weight: bold;
}
.btn-burguer-king:hover {
  background: rgba(214, 35, 0, 0.1);
}

/* 68. Chanel */
.btn-chanel {
  background-color: #000000;
  color: white;
}

/* 69. Harley-Davidson */
.btn-harley-davidson {
  background-color: #C9302C;
  color: white;
}

/* 70. Virgin */
.btn-virgin {
  background-color: #C3092D;
  color: white;
}

/* 71. Ferrari */
.btn-ferrari {
  background-color: #FF2800;
  color: white;
}

/* 72. Lamborghini */
.btn-lamborghini {
  background-color: #DDB321;
  color: white;
}

/* 73. Aston Martin */
.btn-aston-martin {
  background-color: #006F62;
  color: white;
}

/* 74. Uber */
.btn-uber {
  color: #ffffff;
  background-color: #000000;
  border-radius: 0px;
  font-size: 16px;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition-duration: 200ms;
  box-shadow: none;
  border-style: none;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  -webkit-box-align: center;
  align-items: center;
}
.btn-uber:hover {
  background-color: #333333;
}

/* 75. Airbnb */
.btn-airbnb {
  background-color: #FF5A5F;
  color: white;
}

/* 76. Dropbox */
.btn-dropbox {
  background-color: #007EE5;
  color: white;
}

/* 77. Quora */
.btn-quora {
  background-color: #B92B27;
  color: white;
}

/* 78. Reddit */
.btn-reddit {
  background-color: #FF4500;
  color: white;
}

/* 79. Slack */
.btn-slack {
  background-color: #4a154b;
  color: #fff;
  fill: #fff;
  appearance: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI",
    Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: 0.8px;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.btn-slack:hover {
  background-color: #4a154b;
  color: #fff;
  fill: #fff;
  border-color: #4a154b;
}

/* 80. Salesforce */
.btn-salesforce {
  background-color: #00A1E0;
  color: white;
}
/* 81. Intel */
.btn-intel {
  background-color: #0071C5;
  color: white;
}

/* 82. Hugo Boss */
.btn-hugo-boss {
  background-color: #000000;
  color: white;
}

/* 83. Unilever */
.btn-unilever {
  background-color: #1C2A39;
  color: white;
}

/* 84. Procter & Gamble */
.btn-procter-e-gamble {
  background-color: #00468C;
  color: white;
}

/* 85. Ikea */
.btn-ikea {
  background-color: #FFCC00;
  color: #003399;
}

/* 86. Kraft */
.btn-kraft {
  background-color: #00539F;
  color: white;
}

/* 87. Kellogg's */
.btn-kelloggs {
  background-color: #FF0000;
  color: white;
}

/* 88. Gillette */
.btn-gillette {
  background-color: #0000FF;
  color: white;
}

/* 89. Johnson & Johnson */
.btn-johnson-e-johnson {
  background-color: #D51920;
  color: white;
}

/* 90. Colgate */
.btn-colgate {
  background-color: #FF0000;
  color: white;
}

/* 91. Philips */
.btn-philips {
  background-color: #0E5FD8;
  color: white;
}

/* 92. Cisco */
.btn-cisco {
  background-color: #1BA0D7;
  color: white;
}

/* 93. 3M */
.btn-3m {
  background-color: #FF0000;
  color: white;
}

/* 94. Dell */
.btn-dell {
  background-color: #008080;
  color: white;
}

/* 95. HP (Hewlett-Packard) */
.btn-hp {
  background-color: #0096D6;
  color: white;
}

/* 96. DHL */
.btn-dhl {
  background-color: #FFCC00;
  color: #D2002E;
}

/* 97. Western Union */
.btn-western-union {
  background-color: #FFDD00;
  color: #003087;
}

/* 98. HSBC */
.btn-hsbc {
  background-color: #DB0011;
  color: white;
}

/* 99. JPMorgan Chase */
.btn-jpmorgan-chase {
  background-color: #0F2D5B;
  color: white;
}

/* 100. LinkedIn */
.btn-linkedin {
  background-color: #0A66C2;
  color: white;
}
/* 101. Pier */
.btn-pier {
  border: none;
  background: rgb(255, 103, 142);
  border-radius: 4px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 0px;
  transition: background 0.3s ease 0s;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  font-family: Heebo, -apple-system, BlinkMacSystemFont, sans-serif,
    "Segoe UI Symbol";
}
.btn-pier:hover {
  background: rgb(255, 179, 199);
}